
@font-face {font-family: "xcms-iconfont";
  src: url('./fonts/iconfont.eot?t=1497845801794'); /* IE9*/
  src: url('./fonts/iconfont.eot?t=1497845801794#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff?t=1497845801794') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf?t=1497845801794') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg?t=1497845801794#xcms-iconfont') format('svg'); /* iOS 4.1- */
}

.xcms-iconfont {
  font-family:"xcms-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankaishouhui:before { content: "\e603"; }

.icon-fa-22:before { content: "\e604"; }

.icon-fa-21:before { content: "\e605"; }

.icon-fa-20:before { content: "\e606"; }

.icon-fa-19:before { content: "\e607"; }

.icon-fa-18:before { content: "\e608"; }

.icon-fa-17:before { content: "\e609"; }

.icon-fa-16:before { content: "\e60a"; }

.icon-fa-15:before { content: "\e60b"; }

.icon-fa-14:before { content: "\e60c"; }

.icon-fa-13:before { content: "\e60d"; }

.icon-fa-12:before { content: "\e60e"; }

.icon-fa-11:before { content: "\e60f"; }

.icon-fa-10:before { content: "\e610"; }

.icon-fa-09:before { content: "\e611"; }

.icon-fa-08:before { content: "\e612"; }

.icon-fa-07:before { content: "\e613"; }

.icon-fa-06:before { content: "\e614"; }

.icon-fa-05:before { content: "\e615"; }

.icon-fa-04:before { content: "\e616"; }

.icon-fa-03:before { content: "\e617"; }

.icon-fa-02:before { content: "\e618"; }

.icon-fa-01:before { content: "\e619"; }

.icon-fa-truck:before { content: "\e61a"; }

.icon-fa-fax:before { content: "\e61b"; }

.icon-fa-jsfiddle:before { content: "\e61c"; }

.icon-fa-sliders:before { content: "\e61d"; }

.icon-fa-23:before { content: "\e61e"; }

.icon-fa-barcode:before { content: "\e61f"; }

.icon-fa-database:before { content: "\e620"; }

.icon-fa-user:before { content: "\e621"; }

.icon-fa-cubes:before { content: "\e622"; }

.icon-fa-envelope:before { content: "\e623"; }

.icon-fa-clipboard:before { content: "\e625"; }

.icon-fa-building:before { content: "\e626"; }

.icon-fa-users:before { content: "\e627"; }

